spring:
  datasource:
    url: jdbc:h2:mem:shoemoa;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop   # 개발 중엔 이게 편함
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
